body {
  margin: 0;
  padding: 0;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /* font-family: 'Kaushan Script', cursive;
  font-family: 'Racing Sans One', cursive;
  font-family: 'Condiment', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
